body{
    background-color: beige;
    font-family: 'Segoe UI';
    display: flex;
    flex-direction: column;
}
.formulario {
    width: 300px;
    background-color: rgb(209, 220, 170);
    border: 2px solid black;
    border-radius: 8px;
    padding: 14px;
    margin: auto;
}
.btnPesquisar {
    width: 100%;
    padding: 8px;
    background-color: rgb(217, 210, 217);
    color: aliceblue;
    border: none;
    border-radius: 8px;
    margin-top: 8px;
}
input{
    width: 96.5%;
    height: 32px;
}
h1{
    text-align: center;
}
#btnPesquisar:hover {
    background-color: rgb(29, 2, 54);
}
img {
    margin-top: 48px;
    width: 300px;
    height: auto;
}